* {
	/*margin: 0;*/
}

ul { padding: 0; }
ul li {
	list-style-type: none;
	display: inline;
	line-height: 2;
}

img { max-width: 100%; }

header {
	background-color: rgb(200,200,200);
}

body {
	font-family: -apple-system, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	max-width: 320px;
	line-height: 1.4;
	text-align: center;
}

h1, h2 {
	font-family: "gill sans";
}

main {
	background-color: rgb(230,230,230);
}


.prices {
	background-color: rgb(240,240,240);
	max-width: 1280px;
	margin: auto;
}

.item p {
	max-width: 60%;
	margin: auto;
}

.item {
	flex-flow: nowrap;;
}


@media only screen and (min-width: 321px) {
	body {
		max-width: 100%;
	}
}

@media only screen and (min-width: 500px) {
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.item {
		margin-top: 10px;
		display: flex;
		flex-flow: row nowrap;
		text-align: left;
		max-width: 50%;
	}
}

@media screen and (min-width: 800px) {
	.item {
		max-width: 33%;
	}
}

