* {
	/*margin: 0;*/
}

ul { padding: 0; }
ul li {
	list-style-type: none;
	display: inline;
	line-height: 2;
}

img { max-width: 100%; }

header {
	background-color: rgb(200,200,200);
}

body {
	font-family: -apple-system, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	max-width: 320px;
	line-height: 1.4;
	text-align: center;
}

h1, h2 {
	font-family: "gill sans";
}

main {
	background-color: rgb(230,230,230);
}

.process .item {
	display: flex;
	text-align: left;
}

.prices .item {
	display: flex;
	text-align: left;
}

.item {
	margin-top: 10px;
}

.prices {
	background-color: rgb(240,240,240);
}

